option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.py
  aws:elasticbeanstalk:application:environment:
    MODEL_NAME: "distiluse-base-multilingual-cased-v1"
    COLLECTION_NAME: "my_multilingual_docs"
    QDRANT_URL: "https://5067c58b-1ecc-4747-90ad-180c7e35ba19.europe-west3-0.gcp.cloud.qdrant.io:6333"
    QDRANT_API_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.MdHxQb4qBkQcBoKbbiY2s75mpp3r-tdkGVgxVJ0v3y0"
    PYTHON_VERSION: "3.11"
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static/